.container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    background-color: #657870;

}
.row
{
    display: grid;
    grid-template-columns: auto auto;
    grid-column-gap: 10px;
}
.content
{
    border-radius: 5px;
    display: flex;
    background-color: #414d48;
    flex-direction: column;
    grid-row-gap: 15px;
    padding: 30px;
}
.font
{
    font-family: 'Times New Roman';
    color: white;
}
.main-size
{
    font-size: 17px;
}
.big-size
{
    font-size: 24px;
}
.center-text
{
    text-align: center;
}
.buttons {
    background-color:#657870;
    border-style: none;
    display:inline-block;
    cursor:pointer;
    padding:16px 31px;
    text-decoration:none;


}
.buttons:hover {
    background-color:#117a60;
}
.buttons:active {
    background-color: #117a60;
    position:relative;
    top:1px;
    border-style: none;
}
.buttons:focus
{
    background-color:#117a60;
    border-style: none;
    outline: 0px transparent !important;
}
input{
    background:none;
    border-color:white;
    border-style: solid;
    border-width: 1px;
    padding: 10px;
}
input::placeholder {
    color: white;

}
input:focus
{
    background-color: #117a60;
    outline: 0px transparent !important;
}
#login
{
    display: none;
}

.success
{
    background-color: #81bd68;
    border-radius: 25px;
    text-align: center;
    margin-left: auto;
    margin-right: 0;
    padding: 10px;
    border-color: #547a45;
    border-width: 2px;
    border-style: solid;
    width: 100%;
}


.failure
{
    background-color: #cf232f;
    border-radius: 25px;
    text-align: center;
    margin-left: auto;
    margin-right: 0;
    padding: 10px;
    border-color: #6e1319;
    border-width: 2px;
    border-style: solid;
    width: 100%;
}

.avatar
{
    width: 100px;
    height: 100px;
    object-fit: cover;
    background-color: #117a60;
    border-radius: 50px;
    border-color: white;
    border-width: 2px;
    border-style: solid;
}

